<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <a href="/" title="Tecno Gamer"><img
                        src="https://blogger.googleusercontent.com/img/a/AVvXsEhx3-oaLp_j36F4dHUT_XhfyDq6rGjF2c2l0-l2Ai_bKdBRWs8p05BpJr1ZAzRlU9JUJm6xMwflWsMyuEDFgORvAkpb7-Oct6oiTGZlWOGBdITQy8i3OhWNOthWXoRoOi0JOdg77MgZ9jrygPFWAVwUAG2azJIVlpdLD3ZWfK-JIW1-QpmZ5AUfgGVxnQ=s282"
                        alt="Tecno Gamer" width="120" class="mt-3"></a>
            </div>
            <div class="col d-flex align-items-center justify-content-end">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/realtimeproducts">Real Time Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/chat">Chat</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{{body}}}
    <div class="container mt-5">
        <div class="row">
            <div class="col text-center">
                <h2 class="display-5">Hace que jugar videojuegos, vaya mucho más allá.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p>Tecno Gamer</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>